<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"

       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--扫描dao和service层的注解-->
    <context:component-scan base-package="com.zx"/>

    <!--引入database.properties文件、配置数据源连接-->
    <context:property-placeholder location="classpath:db.properties"/>
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="dataSource1" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="sqlSessionFactory"
          class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
        <!--注入数据源 -->
        <property name="dataSource" ref="dataSource1"/>
        <!--指定核心配置文件位置 -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"></property>
    </bean>

<!--    &lt;!&ndash;创建sqlSessionFactory对象&ndash;&gt;-->
<!--    <bean id="sqlSessionFactory2" class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">-->
<!--    <property name="dataSource" ref="dataSource"/>-->
<!--    <property name="typeAliasesPackage" value="com.zx.entity"/>-->
<!--    <property name="configuration">-->
<!--        <bean class="com.baomidou.mybatisplus.core.MybatisConfiguration">-->
<!--            <property name="autoMappingBehavior" value="FULL"/>-->
<!--            <property name="mapUnderscoreToCamelCase" value="true"/>-->
<!--        </bean>-->
<!--    </property>-->
<!--    </bean>-->


<!--    &lt;!&ndash;创建sqlSessionFactory对象&ndash;&gt;-->
<!--    <bean id="sqlSessionFactory" class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">-->
<!--        <property name="dataSource" ref="dataSource"/>-->
<!--        <property name="typeAliasesPackage" value="com.zx.entity"/>-->
<!--        <property name="configuration">-->
<!--            <bean class="com.baomidou.mybatisplus.core.MybatisConfiguration">-->
<!--                <property name="autoMappingBehavior" value="FULL"/>-->
<!--                <property name="mapUnderscoreToCamelCase" value="true"/>-->
<!--            </bean>-->
<!--        </property>-->
        <!--分页插件-->
        <!--        <property name="plugins">-->
        <!--            <array>-->
        <!--                <bean class="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor">-->
        <!--                    <property name="dbType" value="MYSQL"/>-->
        <!--                </bean>-->
        <!--            </array>-->
        <!--        </property>-->
<!--    </bean>-->

    <!--递归扫描dao成接口，进行动态映射-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
<!--        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>-->
        <property name="basePackage" value="com.zx.dao"/>
    </bean>

</beans>